.p-steps .p-steps-item .p-menuitem-link .p-steps-number {
    color: var(--grey) !important;
    border: 2px solid var(--grey) !important;
    background: var(--white) !important;
    font-size: var(--progress-bar-number-size) !important;
    font-weight: bold !important;

    min-width: 1.5rem !important;
    height: 1.5rem !important;
    line-height: 1.5 !important;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
    color: var(--red) !important;
    border: 2px solid var(--red) !important;
    background: var(--white) !important;
    font-weight: bold !important;
}

.p-steps .p-steps-item .p-menuitem-link .p-steps-title {
    color: var(--grey) !important;
    font-size: var(--label-size) !important;
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
    color: var(--black) !important;
}

@media screen and (max-width: 640px) {
    .steps-demo {
        display: none;
    }
}
