body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --red: #e44747;
  --white: #fff;
  --grey: #b6b6b4;
  --light-grey: #D0D0D0;
  --dark-grey: #8D918D;
  --blue: #323b4c;
  --black: #000;


  --text-size: 0.9rem;
  --logo-size: 1.2rem;
  --chips-size: 0.75rem;
  --navbar-link-size: 0.8rem;
  --progress-bar-number-size: 0.6rem;
  --label-size: 0.8rem;

  --resume-heading-size: 1rem;
  --resume-subheading-size: 0.9rem;
  --resume-name: 2rem;
}
